
._slider_dot_container{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

._slider_dot{
    border:1px solid lightgray;
    width: 20px;
    height: 4px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 100%/50%;
}